### {{ ansible_managed }}

{% if asus_merlin_wan_ddns_enable %}
### DDNS enabled
address=/{{ asus_merlin_wan_ddns_hostname }}/{{ asus_merlin_lan_ipaddr }}
{% endif %}

### DNS static rules from asus_merlin_lan_dhcp_staticlist
{% for static in asus_merlin_lan_dhcp_staticlist %}
{% if 'dns_names' in static %}
# {{ static.get('hostname', 'mac_address') }}
address=/{{ static.dns_names | join('/') }}/{{ static.ip_address }}
{% endif %}
{% endfor %}

### DNS static rules from asus_merlin_lan_dhcp_custom_dns
{% for dns in asus_merlin_lan_dhcp_custom_dns %}
{% if 'dns_names' in dns %}
address=/{{ dns.dns_names | join('/') }}/{{ dns.ip_address }}
{% endif %}
{% endfor %}
